.component{
    position: absolute;
    bottom: 1cm;
    min-width: 300px;
    right: 1cm;
}
.name{
    min-width: 300px;
    text-align: center;
}
.closed{
    background-color: grey;
}
.open{
    background-color: green;
}
.price{
    min-width: 50px;
    padding: 5px ;
}