.parent{
    position: fixed;
    top:0px;
    left: 0px;
    margin: 0px;
    overflow: auto;
    background: black;
    border-color: black;
}
.chart_container{
    position: absolute;
    right: 0cm;
}
.current_weather_container{
    position: absolute;
}
.btn{
    height: 50px;
    width: 200px;
}
