.chart_container{
    position: absolute;
    right: 0cm;
}
.current_weather_container{
    position: absolute;
}
.system_data_container{
    position: absolute;
    bottom: 100px;
    width: auto;
    min-width: 200px;
}