.chart_container{
    position: absolute;
    right: 0cm;
}
.current_weather_container{
    position: absolute;
}
.system_data_container{
    position: absolute;
    bottom: 0px;
    width: auto;
    min-width: 200px;
}
.gas_price_container{
    position: absolute;
    bottom: 0cm;
    right: 0cm;
}