.temperature{
    font-size: 50px;
    position: absolute;
    bottom: 0.2cm;
    text-align: center;
    left: 100px;
    right: 100px;
    font-weight: bold;
    padding-bottom: 0.1cm;
    padding-top: 0.1cm;
} 
.border{
    border: grey;
    border-radius: 10px;
    border-style: groove;
    width: 10cm;
    height: 10cm;
    background-color: lightblue;
    position: relative;
}
.weather-text{
    color: darkslategrey;
    position: absolute;
    top: 0.1cm;
    left: 0.2cm;
}
.weather-icon{
    position: absolute;
    width: inherit;
    height: inherit;
    top:0cm;
    left: 0cm;
}
.time{
    color: black;
    position: absolute;
    top: 1cm;
    font-size: 30px;
    text-align: center;
    width: inherit;
}