.border{
    border: grey;
    border-radius: 20px;
    border-style: groove;
    width: 14.5cm;
    background-color: lightblue;
    position: relative;
    max-width: 100vw;
}
/*1:1 width:height*/
.border:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.temperature{
    font-size: 60px;
    position: absolute;
    bottom: 1cm;
    text-align: center;
    left: 100px;
    right: 100px;
    font-weight: bold;
    padding-bottom: 0.1cm;
    padding-top: 0.1cm;
} 

.weather-text{
    color: rgb(255, 255, 255);
    position: absolute;
    top: 0.3cm;
    left: 0.5cm;
    font-size: 20px;
}
.weather-icon{
    position: absolute;
    width: inherit;
    max-width: 100vw;
    top:0cm;
    left: 0cm;
}
/*1:1 width:height*/
.weather-icon:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.time{
    color: black;
    position: absolute;
    top: 1cm;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    max-width: 100vw;
    width: inherit;
}